<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <welcome-file-list>
        <welcome-file>pages/index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>RulerServlet</servlet-name>
        <servlet-class>servlets.RulerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RulerServlet</servlet-name>
        <url-pattern>/rulers</url-pattern>
        <url-pattern>/rulers/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TitleServlet</servlet-name>
        <servlet-class>servlets.TitleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TitleServlet</servlet-name>
        <url-pattern>/titles</url-pattern>
        <url-pattern>/titles/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>hiddenHttpMethodFilter</filter-name> <!-- ????????  -->
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>

    <filter>
        <filter-name>hiddenHttpMethodFilter2</filter-name> <!-- ????????  -->
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <servlet-name>RulerServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>hiddenHttpMethodFilter2</filter-name>
        <servlet-name>TitleServlet</servlet-name>
    </filter-mapping>

</web-app>